@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&family=Open+Sans:wght@300&family=Roboto:wght@100;400&display=swap');
*{
    padding: 0px;
    box-sizing: border-box;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: rgb(36, 35, 35);
    padding-left: 25px;
    height: 124px;
    color: white;
    margin-bottom: 16px;
}
.profimg{
    border-radius: 50%;
    width: 100%;
    height: 100%;
    border: 1px solid #E6001E;
   
}
.imageBorder1{
    border: 16px solid #E6001E;
    border-radius: 50%;
    width: 180px;
    height: 180px;
    
}
.imageBorder2{
    border: 20px solid rgb(35, 35, 35);
    border-radius: 50%;
    width: 100%;
    height: 100%;
}
.info{
    margin-right: 200px;
}
.email{
    margin: 6px 0px;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.pay{
    display: flex;
    flex-direction: column;
    width: 13%;
    align-items: center;
}
.payButton{
    display: flex;
    padding: 5px 15px;
    background-color: rgba(255, 255, 255, 0.842);
    color: #E6001E;
    border-radius: 7px;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: all .2s ease-in-out;
    width: 100%;

}
.payButton img{
    width: 30px;
    height: 24px;
}
.payButton:hover{
    background-color: white;
}
.price{
    color: #45C137;
    margin-bottom: 6px;

}
.invoce{
    background-color: #E6001E;
    width: 20%;
    font-size: 40px;
    display: flex;
    justify-content: center;    
    border-radius: 90px 0 0 90px;

}
.main{
    display: flex;
    width: 100%;
}
.leftSide{
    display: flex;
    flex-direction: column;
    width: 480px;
    padding: 32px;
    text-align: start;
}
.leftSide h2{
    color: #E6001E;
    word-spacing: 5px;
}
.leftSide hr{
    color: rgb(160, 160, 160);
    margin: 32px 0px;
}
.leftSide p{
color: rgb(170, 170, 170);
padding: 6px 0px;
}
.rightSide{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.row1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    word-spacing:3px;
    padding-bottom: 12px;
    padding-right: 12px;
}
.row1 span{
    font-weight: 800;
    color: #E6001E;
}
.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}   
.row2,.row3,.row4,.row5{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    color: rgb(100, 100, 100);
}
.row2{
    background-color: rgb(36, 35, 35);
    border-radius: 4px;
    color: white;
    
}
.row4{
    background-color: #DDD;
}
.column1{
    width: 80%;
}
.column2,.column3{
    width: 10%;
    text-align: center;
}
footer{
    width: 100%;
    text-align: center;
    padding: 0px 64px;
    color: rgb(100, 100, 100);
    margin-top: 32px;
}
.paySmallScreen{
    display: none;
}
/*taplet*/
@media only screen and (max-width:1024px){
    .main{
        flex-direction: column;
    }
    .leftSide{
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
    }
    .leftSide hr{
         margin: 0px;
    }
    .nav{
        height: 100px;
    }
    .imageBorder1{
        width: 140px;
        height: 140px;
    }
    .invoce{
        width: 15%;
        font-size: large;
    }
    .info{
        font-size: smaller;
    }
    .row1,.row2{
        padding: 8px 4px;
    }
    .row2{
        font-size: .8rem;
    }
    .pay{
        display: none;
    }
    .paySmallScreen{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 12px;
    }
    .paySmallScreen .payButton{
        width: 50%;
        margin: auto;
        justify-content: space-evenly;
        background-color: #DDD;
        margin-bottom:6px ;
    }

}
/*mobile phone*/
@media only screen and (max-width: 769px) {
    body{
        font-size: 10px;
        width: 100%;
    }
    .nav{
        height: 72px;
        width: 100%;
        padding: 0px;
        margin: 0px;
    }
    .imageBorder1{
        width: 100px;
        height: 100px;
        border: 8px solid #E6001E;

    }
    .imageBorder2{
        border: 10px solid rgb(35, 35, 35);
    }
    .info{
        margin: 0px;
    }
    .stars img{
        width: 12px;
        height: 12px;
    }
    .pay{
        display: none;
    }
    .paySmallScreen{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 12px;
    }
    .paySmallScreen .payButton{
        width: 50%;
        margin: auto;
        justify-content: space-evenly;
        background-color: #DDD;
        margin-bottom:6px ;
    }
    .invoce{
        font-size: 10px;
    }
    .main{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0px 2px;
    }
    .leftSide{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 16px 0px 0px 0px ;
        padding: 0px;
    }
    .rightSide{
        width: 100%;
        padding: 0px;
    }
    .row1,.row3,.row4,.row5{
        padding: 0px;
    }
    .row2{
        padding: 6px 0px;
        font-size: smaller;
        font-weight: normal;
        display: flex;
    }
    .d
    .row1 h2{
        font-size: smaller;
    }
    footer{
        padding: 0px;
        margin: 0px;
    }
}